/* --- GLOBAL ---*/
body{
    margin: 0;
}

/* --- Header Initial State. ---*/
.headerContainer{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 100%;
}

.upperHeader{
    height: 5vh;
    width: 100%;
    
}
.logo{
    width: 20%;
    height: 100%;
}

.logo > img{
    width: 100%;
    height: 180%;
}

/* --- Tabs --- */
.tabsGridItem1{
    grid-area: box1;
}

.tabsGridItem2{
    grid-area: box2;
}

.tabsGridItem3{
    grid-area: box3;
}

.tabsGridItem4{
    grid-area: box4;
}

.tabsGridItem5{
    grid-area: box5;
}
.tabsGridItem6{
    grid-area: box6;
}
.tabsGridItem7{
    grid-area: box7;
}
/* --- Any additional tab would go here "adding a grid item"--- */
.spacer{
    border-bottom: 1px solid;
}

.tab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid;
    
}
/* --- active tab vs inactive --- */
.tabDesignActive{
    width: 100%; 
    height: 3px;
    background-color: #4285f4;
}

.tabSelectedState{
    background-color: white;
}

.tabDesignInactive{
    width: 100%; 
    height: 3px;
    background-color: darkgrey;
}

.tabNonSelectedState{
    background-color: lightgrey;
    border-bottom: 1px solid;
    border-top: 1px solid;
}
/* --- setting the fartest button to have a 
border right --- */
.lowerHeader >div:nth-last-of-type(2){
    border-right: 1px solid;
}
/* --- setting up the grid to place the tabs. 
Every new tab requires the addition of "1fr"
to grid-template-columns and the addition of the 
grid area "box#" between box 7 and its predecessor --- */
.lowerHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 5vh;
    width: 100%;
    grid-template-areas:
    "box1 box1 box2 box3 box4 box5 box6 box7 box7"

}
/* --- This spacer will give the tabs Depth --- */
.contentTop{
    width:100%;
    height: 2vh;
}

/* --- Main Content Initial State. ---*/

.mainContentContainer{
    position: absolute;
    top: 12vh;
    left: 0;
    height: 83vh;
    width: 100%;
}

.home{
    display: none;
}

.ops{
    display: none;
}

.calendar{
    display: none;
}

.tools{
    display: none;
}
.device{
    display: none;
}

.homeActive{
    display: grid;
}

.opsActive{
    display: grid;
}

.calendarActive{
    display: grid;
}

.toolsActive{
    display: grid;
}
.deviceActive{
    display: grid;
} 

/* --- Footer Initial State. ---*/
.footerContainer{
    position: absolute;
    top: 95vh;
    left: 0;
    height: 5vh;
    width: 100%;
    border-top: 2px solid;
}

/* --- END OF GLOBAL CSS ---*/